{
  "parserOptions": { "ecmaVersion": 10, "sourceType": "module" },
  "plugins": ["react", "react-hooks", "tree-shaking"],
  "extends": ["plugin:react/recommended", "prettier/react"],
  "rules": {
    "tree-shaking/no-side-effects-in-initialization": 2,
    "react/prop-types": 0
  }
}
